* { margin: 0; padding: 0 }
html, body { width: 100%; height: 100% }
body { padding: 20px; position: relative }
dl { margin: 0; }
label { margin: 0 5px; padding: 0 5px; text-transform: capitalize; }
.clear { clear: both; }
.login_wrapper { width: 100%; height: 100%; display: table; background-color: black; opacity: 0.5; }
.login_container { display: table-cell; text-align: center; vertical-align: middle; }
.loginform { position: relative; }
.loginform input { margin: 0px 2px 2px 0px; padding-left: 2px; }
.loginform button { position: absolute; top: 0; bottom: 2px; text-transform: uppercase; }
.tags { display: flex; flex-wrap: wrap; }
.tag { border: 1px lightblue solid; border-radius: 4px; margin: 1px; padding: 1px 2px; }
.info { float: left }
#imgPane {visibility: hidden}
.masonry { column-count: 10; column-gap: 1em; visibility: visible}
.masonry .img_link {display: inline-block; position: relative;/* height: 0;	overflow: hidden;*/}
.masonry img { display: inline-block;/* position: absolute;*/ margin: 0 0 1em; width: 100%; }
.masonry .rating {position: absolute;
	display: inline-block;
	padding: 2px;
	border-radius: 0 0 0.8em 0;
	background-color: orange;
	opacity: 0.8;
	color: darkblue;
	min-width: 1.5em;
	text-align: center;}
#logoutLink, button, .helpBtn { float: right; margin: 0 3px }
#userData { display: inline-flex; }
#userData dt { margin: 0 1em 0 2em; }
#userData dt:first-child { margin-left: 0; }
#logoutLink { font-weight: bold; color: blue; cursor: pointer; }
#logoutLink:hover { color: lightblue; }